
img {
    width: 100px;
}

.characterCard {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10%;
    box-shadow: 10px 10px 10px darkgray;
    font-size: 5px;
}

#Name {
    font-weight: bold;
    font-size: 10px;
}
